<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>Update Shop list</title>
</head>
<body>

    <div class="ui container" style="margin-top: 50px;">
        <h1 style="text-align: center">Update List</h1>
    
        <div class="ui form">
            <form action="/update/{{todo.id}}" method="POST">
                <input type="text" name="title" id="content" value="{{todo.title}}">
                <input style="margin-top: 20px;" class="ui primary button" type="submit" value="Update">
            </form>
        </div>
    </div>
</body>
</html>